<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/add_tweet">
		<!-- Title -->
        <div>
            <label>Title*</label>
            <div>
                <input type="title"  name="titel" id="titel" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>text*</label>
            <div class="input-group">
                <input type="text"  name="text" minlength="280">
            </div>
        </div>


    </form>
</body>
</html>